<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="${CurrentDir}/logs/development/internal-nlog.txt">

    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
        <add assembly="NLog.Mongo"/>
    </extensions>

    <targets>
        <target name="jsonfile" xsi:type="File" fileName="${CurrentDir}/logs/development/AppLog-${level}-${shortdate}.json">
            <layout xsi:type="JsonLayout">
                <attribute name="time" layout="${date:format=O}"/>
                <attribute name="message" layout="${message}"/>
                <attribute name="logger" layout="${logger}"/>
                <attribute name="level" layout="${level}"/>
            </layout>
        </target>
    </targets>

    <rules>
        <logger name="*" minlevel="Error" writeTo="jsonfile"/>
    </rules>
</nlog>