<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="Trace" internalLogFile="${CurrentDir}/logs/internal-nlog.txt">
	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>
	<targets>
		<target name="default" xsi:type="File" fileName="${CurrentDir}/logs/AppLog-${level}-${shortdate}.json">
			<layout xsi:type="JsonLayout">
				<attribute name="time" layout="${date:format=O}" />
				<attribute name="message" layout="${message}" />
				<attribute name="logger" layout="${logger}" />
				<attribute name="level" layout="${level}" />
			</layout>
		</target>
		<target name="development" xsi:type="File" fileName="${CurrentDir}/logs/development/DevelopmentAppLog-${level}-${shortdate}.json">
			<layout xsi:type="JsonLayout">
				<attribute name="time" layout="${date:format=O}" />
				<attribute name="message" layout="${message}" />
				<attribute name="logger" layout="${logger}" />
				<attribute name="level" layout="${level}" />
			</layout>
		</target>
		<target name="testing" xsi:type="File" fileName="${CurrentDir}/logs/testing/TestingAppLog-${level}-${shortdate}.json">
			<layout xsi:type="JsonLayout">
				<attribute name="time" layout="${date:format=O}" />
				<attribute name="message" layout="${message}" />
				<attribute name="logger" layout="${logger}" />
				<attribute name="level" layout="${level}" />
			</layout>
		</target>
		<target name="production" xsi:type="File" fileName="${CurrentDir}/logs/production/ProductionAppLog-${level}-${shortdate}.json">
			<layout xsi:type="JsonLayout">
				<attribute name="time" layout="${date:format=O}" />
				<attribute name="message" layout="${message}" />
				<attribute name="logger" layout="${logger}" />
				<attribute name="level" layout="${level}" />
			</layout>
		</target>
	</targets>
	<rules>
		<logger name="Default" minlevel="Trace" writeTo="default" />
		<logger name="Development" minlevel="Debug" writeTo="development" />
		<logger name="Testing" minlevel="Trace" writeTo="testing" />
		<logger name="Production" minlevel="Trace" writeTo="production" />
	</rules>
</nlog>